
#paginaHome{
    background-color: #ededed;
    border: solid red 2px;
    width: 1200px;
    margin: auto;
    height: 600px;
}
#idErro{
    text-align: center;
}

/*#paginaBorda{
    height: 100%;
    width: 100%;
    
}*/
#paginaFinal footer  {
    background-color: blue;     
    width: 1200px;
    text-align: center;  
    margin: auto;
    border: solid red 2px;
    color: white;
}
#paginaHome header{
    background-color: blue;
    border: solid red 2px;
    color: white;
    text-align: center;
     width: 1200px;
}

#pagina section{    
    width: 100%;        
}

#paginaHome section nav{  
    background-color: lightgrey;
    width: 210px;
    float: left;
    height: 513px;
    border: solid red 2px;
}

#pagina section #paginaCentral{
    float: right;
    height: 500px;        
}

#paginaCentral{    
    text-align: center;
    width: 1140px;
}

#paginaFinal footer  {
    background-color: blue;
    color: white;        
    text-align: center;    
}

#voltarMenu{
    text-align: right;
}
#tabela{
    width: 1000;
    margin:auto;
    background-color: lightgrey;
}
#menu{    
    margin: auto;    
    width: 180px;
    height: 80px;
}

/*#tabela{
    background-color: #DEDACB;
    margin: auto;
    border: gray;
}*/
/*#formulario {
    margin: auto;
    border: gray;
}
#index header{
    background-color: gray;
    margin: auto;
    text-align: center;    
}*/


