paginaHome{
    background-color: #C2EFC2;
    border: solid red 2px;
    width:1200px;
    alignment-adjust: central;
    margin: auto;
}
paginaCentral{
font-size: larger;
    background-color: #C2EFC2;
    border: solid red 2px;
    width:1200px;
    alignment-adjust: central;
    margin: auto;
}
header{
    margin: auto;
    background-color: blue;
}